/* /* Website body and nav styling */
#nav-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.main-dashboard {
  height: 10vh;
  padding: 5rem;
}

body {
  /* background-color: #6ba9ca; */
  background: linear-gradient(45deg, #22678b, #6ba9ca);
  
}

/* Cards styling for all pages*/
.stat-card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.card {
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* Table */
.table thead th {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.table td {
  vertical-align: middle;
} 

.mb-0{
  color: white;
}
 

